In [1]:
import pandas as pd
df = pd.DataFrame()
print(df)

Empty DataFrame
Columns: []
Index: []

In [4]:
data = {
    'Name': ['John', 'Alice', 'Bob', 'Emily', 'Michael'],
    'Age': [25, 30, 35, 28, 32],
    'Country': ['USA', 'Canada', 'UK', 'USA', 'Australia'],
    'Salary': [50000, 60000, 70000, 55000, 65000]
}

df1 = pd.DataFrame(data)
print(df1)

      Name  Age    Country  Salary
0     John   25        USA   50000
1    Alice   30     Canada   60000
2      Bob   35         UK   70000
3    Emily   28        USA   55000
4  Michael   32  Australia   65000

In [5]:
#accessing individual items
names = data["Name"]
age= data["Age"]
country = data["Country"]
salary= data["Salary"]

print(names,age,country,salary)

['John', 'Alice', 'Bob', 'Emily', 'Michael'] [25, 30, 35, 28, 32] ['USA', 'Canada', 'UK', 'USA', 'Australia'] [50000, 60000, 70000, 55000, 65000]

In [6]:
# Create data using pd.Series
names = pd.Series(['John', 'Alice', 'Bob', 'Emily', 'Michael'])
ages = pd.Series([25, 30, 35, 28, 32])
countries = pd.Series(['USA', 'Canada', 'UK', 'USA', 'Australia'])
salaries = pd.Series([50000, 60000, 70000, 55000, 65000])

# Create a dictionary of series
data = {
    'Name': names,
    'Age': ages,
    'Country': countries,
    'Salary': salaries
}

# Create a pandas DataFrame from the dictionary
df = pd.DataFrame(data)

# Print the dataset
print(df)

      Name  Age    Country  Salary
0     John   25        USA   50000
1    Alice   30     Canada   60000
2      Bob   35         UK   70000
3    Emily   28        USA   55000
4  Michael   32  Australia   65000

In [7]:
import pandas as pd

# Create a pandas DataFrame
data = {
    'Name': ['John', 'Alice', 'Bob', 'Emily', 'Michael'],
    'Age': [25, 30, 35, 28, 32],
    'Country': ['USA', 'Canada', 'UK', 'USA', 'Australia'],
    'Salary': [50000, 60000, 70000, 55000, 65000]
}
df = pd.DataFrame(data)

# Convert DataFrame columns into Series using pd.Series()
names = pd.Series(df['Name'])
ages = pd.Series(df['Age'])
countries = pd.Series(df['Country'])
salaries = pd.Series(df['Salary'])

# Print the individual Series
print("Names:")
print(names)
print()

print("Ages:")
print(ages)
print()

print("Countries:")
print(countries)
print()

print("Salaries:")
print(salaries)

Names:
0       John
1      Alice
2        Bob
3      Emily
4    Michael
Name: Name, dtype: object

Ages:
0    25
1    30
2    35
3    28
4    32
Name: Age, dtype: int64

Countries:
0          USA
1       Canada
2           UK
3          USA
4    Australia
Name: Country, dtype: object

Salaries:
0    50000
1    60000
2    70000
3    55000
4    65000
Name: Salary, dtype: int64

In [8]:
import pandas as pd

# Create a dictionary of days and dates
data = {
    'Monday': '2023-07-03',
    'Tuesday': '2023-07-04',
    'Wednesday': '2023-07-05',
    'Thursday': '2023-07-06',
    'Friday': '2023-07-07'
}

# Create a Pandas Series from the dictionary
series = pd.Series(data)

# Print the Pandas Series
print(series)

Monday       2023-07-03
Tuesday      2023-07-04
Wednesday    2023-07-05
Thursday     2023-07-06
Friday       2023-07-07
dtype: object

In [10]:
#selecting indexed days
selected_days = series[['Monday','Tuesday']]
print("Selected Days (Indexing):")
print(selected_days)

Selected Days (Indexing):
Monday     2023-07-03
Tuesday    2023-07-04
dtype: object

In [1]:
import seaborn as sns

In [ ]:
import matplotlib.pyplot as pl