In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df =  pd.read_csv('D:\\learn python\\2018CrimeStatisticsByCategoryOfCrime.csv')

In [3]:
#displaying the first few rows
print(df.head())

  Unnamed: 0             Unnamed: 1 REPORTED CASES           Unnamed: 3  \
0        NaN                    NaN            NaN                  NaN
1        NaN                    NaN   Totals Cases  Cases under Inquiry
2      S/No.  CASE/CRIME INCIDENCES              1                    2
3        NaN              HOMICIDES            NaN                  NaN
4          1   Death  (by shooting)            190                  117

         Unnamed: 4            Unnamed: 5                 PERFOMANCE  \
0               NaN                   NaN                        NaN
1  Not Detected/NPW  Cases taken to court  Cases submitted toDPP/RSA
2                 3                     4                          5
3               NaN                   NaN                        NaN
4                29                    44                         74

               Unnamed: 7             Unnamed: 8       Unnamed: 9  ...  \
0                     NaN                    NaN              NaN  ...
1  Cases with convictions  Cases with Acquittals  Cases Dismissed  ...
2                       6                      7                8  ...
3                     NaN                    NaN              NaN  ...
4                       3                      1                1  ...

            Unnamed: 28 Unnamed: 29 Unnamed: 30              Unnamed: 31  \
0                   NaN         NaN         NaN                      NaN
1  Probation Bound Over     CAUTION  COMM. WORK  Fines  Awarded (UgShs.)
2                    18          19          20                       21
3                   NaN         NaN         NaN                      NaN
4                     -           -           -                        -

        Unnamed: 32  Unnamed: 33   Unnamed: 34    Unnamed: 35  \
0  VICTIMS OF CRIME          NaN           NaN            NaN
1        Male Adult  Male Juven.  Female Adult  Female Juven.
2               NaN          NaN           NaN             22
3               NaN          NaN           NaN            NaN
4               197            4            17              -

              Unnamed: 36 Unnamed: 37
0  VALUE PROPERTY(UGSHS.)         NaN
1                    Lost   Recovered
2                      23          24
3                     NaN         NaN
4              11,500,000           -

[5 rows x 38 columns]

In [4]:
#getting information about the columns
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 127 entries, 0 to 126
Data columns (total 38 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Unnamed: 0                   95 non-null     object
 1   Unnamed: 1                   125 non-null    object
 2   REPORTED CASES               125 non-null    object
 3   Unnamed: 3                   125 non-null    object
 4   Unnamed: 4                   125 non-null    object
 5   Unnamed: 5                   125 non-null    object
 6   PERFOMANCE                   125 non-null    object
 7   Unnamed: 7                   125 non-null    object
 8   Unnamed: 8                   125 non-null    object
 9   Unnamed: 9                   125 non-null    object
 10  Unnamed: 10                  125 non-null    object
 11  PERSONS TAKEN TO COURT       126 non-null    object
 12  Unnamed: 12                  124 non-null    object
 13  Unnamed: 13                  124 non-null    object
 14  Unnamed: 14                  124 non-null    object
 15  Unnamed: 15                  126 non-null    object
 16  Unnamed: 16                  124 non-null    object
 17  Unnamed: 17                  124 non-null    object
 18  Unnamed: 18                  124 non-null    object
 19  Unnamed: 19                  109 non-null    object
 20  Unnamed: 20                  109 non-null    object
 21  Unnamed: 21                  109 non-null    object
 22  SENTENCES IMPOSED BY COURTS  109 non-null    object
 23  Unnamed: 23                  108 non-null    object
 24  Unnamed: 24                  108 non-null    object
 25  Unnamed: 25                  109 non-null    object
 26  Unnamed: 26                  109 non-null    object
 27  Unnamed: 27                  109 non-null    object
 28  Unnamed: 28                  109 non-null    object
 29  Unnamed: 29                  109 non-null    object
 30  Unnamed: 30                  109 non-null    object
 31  Unnamed: 31                  109 non-null    object
 32  Unnamed: 32                  100 non-null    object
 33  Unnamed: 33                  107 non-null    object
 34  Unnamed: 34                  99 non-null     object
 35  Unnamed: 35                  108 non-null    object
 36  Unnamed: 36                  110 non-null    object
 37  Unnamed: 37                  109 non-null    object
dtypes: object(38)
memory usage: 37.8+ KB
None

In [5]:
#descriptive statistics of numerical columns
print(df.describe())

       Unnamed: 0             Unnamed: 1 REPORTED CASES Unnamed: 3 Unnamed: 4  \
count          95                    125            125        125        125
unique         95                    125            104         95         89
top         S/No.  CASE/CRIME INCIDENCES              -          -          -
freq            1                      1             17         18         24

       Unnamed: 5 PERFOMANCE Unnamed: 7 Unnamed: 8 Unnamed: 9  ...  \
count         125        125        125        125        125  ...
unique         89         98         66         41         60  ...
top             -          -          -          -          -  ...
freq           20         19         34         55         39  ...

       Unnamed: 28 Unnamed: 29 Unnamed: 30 Unnamed: 31 Unnamed: 32  \
count          109         109         109         109         100
unique          15          46          51          68          91
top              -           -           -           -           -
freq            77          40          38          36           4

       Unnamed: 33 Unnamed: 34 Unnamed: 35 Unnamed: 36 Unnamed: 37
count          107          99         108         110         109
unique          50          75          45          66          55
top              -           -           -           -           -
freq            33          11          50          41          53

[4 rows x 38 columns]

In [6]:
#data processing
#cleaning column names
df.columns = df.columns.str.strip().str.replace(' ','_')

In [8]:
print(df.columns)

Index(['Unnamed:_0', 'Unnamed:_1', 'REPORTED_CASES', 'Unnamed:_3',
       'Unnamed:_4', 'Unnamed:_5', 'PERFOMANCE', 'Unnamed:_7', 'Unnamed:_8',
       'Unnamed:_9', 'Unnamed:_10', 'PERSONS_TAKEN_TO_COURT', 'Unnamed:_12',
       'Unnamed:_13', 'Unnamed:_14', 'Unnamed:_15', 'Unnamed:_16',
       'Unnamed:_17', 'Unnamed:_18', 'Unnamed:_19', 'Unnamed:_20',
       'Unnamed:_21', 'SENTENCES_IMPOSED_BY_COURTS', 'Unnamed:_23',
       'Unnamed:_24', 'Unnamed:_25', 'Unnamed:_26', 'Unnamed:_27',
       'Unnamed:_28', 'Unnamed:_29', 'Unnamed:_30', 'Unnamed:_31',
       'Unnamed:_32', 'Unnamed:_33', 'Unnamed:_34', 'Unnamed:_35',
       'Unnamed:_36', 'Unnamed:_37'],
      dtype='object')

In [9]:
#remove unwanted columns
df.drop(['REPORTED_CASES'],axis=1 , inplace=True)